@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradiant {
    background-image: linear-gradient(
        129deg,
        #0a3a28 31.69%,
        #0a3a28 39.31%,
        #823407 74.52%
      ),
      url("../../public/assets/img/bg.jpg");
    background-size: cover;
    /* opacity: 0.9; */
  }
  .img-bg {
    background-position: center;
    background-repeat: no-repeat;
  }
}
